[submodule "node_modules/.cache/gh-pages/https!github.com!JulianJankowski!resume"]
    path = "node_modules/.cache/gh-pages/https!github.com!JulianJankowski!resume"
    url = "git://github.com:JulianJankowski/resume.git"