@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1d1d1d;
}

.divider-line {
    background-image: linear-gradient(#fff, #fff);
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 50%;
}

.split-background {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><rect x="0" y="0" width="100%" height="50%" fill="%231d1d1d"/><rect x="0" y="50%" width="100%" height="50%" fill="%232d2d2d"/></svg>');
}

.split-background-mirror {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><rect x="0" y="0" width="100%" height="50%" fill="%232d2d2d"/><rect x="0" y="50%" width="100%" height="50%" fill="%231d1d1d"/></svg>');
}

.small-nav {
    transform-origin: 0% 0%; 
    
    @media screen and (max-width: 1024px) {
        transform: scaleY(0);
    }   
}
  
p, a, span, button {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
}
  
h3, h4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  
h1 {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h2 {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}