@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1d1d1d;
}

.divider-line {
    background-image: linear-gradient(#fff, #fff);
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 50%;
}